{% extends '_layouts/message' %}
{% set title =
	'Disconnect your store from Mailchimp'|t('mailchimp-commerce-sync')
%}

{% block message %}
	<form method="post">
		{{ csrfInput() }}
		<input type="hidden"
			name="action"
			value="mailchimp-commerce-sync/store/disconnect" />

		<h2>
			{{ 'Disconnect your Store'|t('mailchimp-commerce-sync') }}
		</h2>

		<p>
			{{
				'Are you sure you want to disconnect your store from Mailchimp?'|t(
					'mailchimp-commerce-sync'
				)
			}}
		</p>
		<p>
			{{
				'This will remove all synced data between your store and Mailchimp, including Orders, Products, Customers, etc.'|t(
					'mailchimp-commerce-sync'
				)
			}}
		</p>
		<p>
			{{
				'The original Commerce data will not be touched.'|t(
					'mailchimp-commerce-sync'
				)
			}}
		</p>

		<div class="buttons">
			<input type="submit"
				class="btn submit"
				value="{{ 'Yes, Disconnect'|t('mailchimp-commerce-sync') }}" />
			<a href="{{ cpUrl('mailchimp-commerce-sync/settings') }}"
				class="btn secondary">
				{{ 'No, Cancel'|t('mailchimp-commerce-sync') }}
			</a>
		</div>
	</form>
{% endblock %}
